{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src"],
        "alias": {
          "@ra": "./src/vendor/react-arsenal"
        }
      }
    ]
  ]
}
