.buttons {
    button {
        margin: 5px;
    }
}

.nested {
    margin-left: 24px;
}

.header {
    display: flex;
    align-items: center;

    .select {
        margin-left: 16px;
    }
}

.popup {
    background: red;
}

.tabItem {
    padding: 0.25em 1em;
    font-weight: 500;
}

.activeTabItem {
    background-color: var(--color-background);
    color: var(--color-primary);
}

.contentSection {
    padding: 1em;
}
